body{
font-family: BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}


/** style for blog**/
/** 抬头bar **/
div.top_bar{
    height: 78px;
    width:auto;
    background-image:  url("../images/123655.webp");
    
    margin-bottom: 10px;
}
div.top_bar img{
    display: none;
}

/** 菜单字体 font of menu **/
a:link {
    text-decoration: none;
    color: #121212;
    
}
a:hover{
  
    font-weight: bold;
    border-bottom: 1.5px solid#4767c8;
    border-bottom-left-radius: 5px;
    padding-bottom: 1.5px;

}
a:visited {
    color: #121212;
}

/**大框 **/
div.back{
    background: #f5f5f5;
    height:auto;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
/**                                                         导航栏 **/
header.nav_bar{
    display: block;
    background-color:rgba(200, 200, 200, .3) ;
    /**background-color: #f2ecde;**/
    border: 1px dotted ;
   /** box-shadow: 2px 2px 3px #686868;**/
}   

header.nav_bar >nav ul {
    /**display: inline;**/
    list-style-type: none;
    margin: 5px 0px 5px 0px;
    padding-left: 0;
}
/**ul 默认有 padding   **/
header.nav_bar >nav li{
    display: inline;
    margin: 5px 0px 5px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


/**                                                    边栏   **/
aside.info_author{
    width: 280px;
    height: auto;
    float: right;
    border-left: 1px dashed #363636;
    padding:10px;
  

}
aside.info_author h2{
    font-size: 1.1em;
}


aside.info_author>section.aside_note{
    margin-bottom: 40px;
    }



/**                                      格言 old saying **/
section.some_say{
    margin: 5px  0px  15px  15px ;
    padding: 10px;
    text-indent: 2em;
}

/**                                      align to right**/ 
.right_form{
    text-align: right;    
}
/**                                       align to center**/
.center{
    text-align: center;
}
/**section.some_say fieldset{
    color:#363636;
}**/



section.main{
    

}
/**                                          小标题            **/
.little_title{
    border-left: 3.5px solid #6847c8;    
}
.special_title{
    font-size: 0.8rem;
}

/**                                          博文块       **/
section.main_text > div.article_info {
    display: block;
    margin: 0px 10px 20px 30px ;
    text-align: left;
    color: #363636;
    /**border-bottom: 1.5px dashed #c86847;**/
    
   /** text-indent: 2rem;**/
}
section.main_text h2 {
    margin: 0px 10px 25px 15px;
}
section.main_text h3 {
    margin: 0px 0px 5px 30px;

}

section.main_text>h2.special_title{
    margin-top: 30px;
}


section.main h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /**color:#b48a76;**/
    color: #c86847;
    font-size:1.2rem;
}


h2{
    font-weight: normal;
    font-size: 1rem;
   
}
/**                                             special title    **/
span.test1{
    display: block;
    width: 40px;
    border-radius: 25px;
    background-color: #6847c8;
    color: aliceblue;
   
    text-align: center;
    }

/** test **/ 
div.article_info{
    height: auto;
    width: fit-content;
    
    transition: transform .3s,-webkit-transform .3s;
    border-radius: 5px;
    background: rgb(246, 216, 156,0.2);
    box-shadow: 0 6px 14px 0 rgba(234, 221, 181, 0.6);
    }

    div.article_info:hover{
        transform: scale(1.1);
    } 


/**       菜单 上滑显示  下滑消失                                    **/

.nav_button{
    
    
}








    /**                                                           借鉴**/
    /**                                                  暂时还不会 **/
    /**                                             手机端*/
div.nav_button {
    height: 44px;
    
    
   
    }
.home_icon_container a:hover {
    text-decoration: none;
    border: none;
    }

div.home_icon{
    position: fixed;
   
 
    
    top: 4px;
    
}
.home_icon_container{
    display: block;
    position: relative;
    width:  42px ;
    height: 42px;
    left: 8px;
    top: 2px;

}
img.home_icon{
    max-width: 100%;
    }

div.nav_button {
         background: #363636;
     height: 50px;
     border: none;
    
        position: sticky;
        top: 4px;
        z-index:20;
        visibility:visible;
    }



@media (max-width: 1099px){
div.top_bar , header.nav_bar {
    display: none;
}
div.nav_button {
    display: block;
}

div.back{
    background: #f5f5f5;
    height:auto;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}

aside.info_author{
    width: 30%;
    height: auto;
    float: right;
    border-left: 1px dashed #363636;
    padding:10px;
   
  

}
section.some_say{
    padding: 2px;
    margin: 5px  0px  15px  5px
}

div.back{
    font-size: 0.8em;
}
div.top_bar {
    display: block;
    margin-top: 52px;
    background-image: none;
}

div.top_bar img{
    height: 78px;
    width:auto;
    /**background-image:  url("../images/123655.webp");**/
   
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
}




/**                                                     画菜单**/

.nav_button{
    /**width:97.5%;**/
    
   
    }

  .nav_button:before{display: none;}
  .nav_button div.header{width: 95%;margin: 0 auto;height: 100%;line-height: 56px;}


/*手机页面的导航按钮 三横变一×*/
    div.header_nav_small_btn{
        display: block;width: 35px;float: right;height: 38px;margin-top: 5px;}

    .header_nav_small_btn span.small_btn{
        width: 100%;
        height: 4px;background: #fff;display: block;
        margin-top: 15px;position: relative;
        border-radius: 2px;
    }

    .header_nav_small_btn .small_btn:before, .header_nav_small_btn .small_btn:after {
        content: '';display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background: #fff;
        border-radius: 2px;
      
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        transition-property: margin, transform, -webkit-transform;
        -webkit-transition-duration: 250ms;transition-duration: 250ms;}
    
    .small_btn:before{
        margin-top: -12px;}
    
    .small_btn:after{
        margin-top: 12px;
    }

    .click_small_btn span.small_btn{
       
        background: none;}
    .click_small_btn .small_btn:before, .click_small_btn .small_btn:after {
        content: '';display: block;width: 100%;height: 4px;position: absolute;background: #fff;  border-radius: 2px;}

    .click_small_btn .small_btn:before {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);}

    .click_small_btn .small_btn:after {
        margin-top: 0;
        -webkit-transform: 
        rotate(45deg);
        transform: rotate(45deg);}













    /*手机页面导航*/
    .head_box{width:100%;background: #1C2327;height: 50px;border: none;position: fixed;top: 0;}
    .head_box:before{display: none;}
    .header{width: 95%;margin: 0 auto;height: 100%;line-height: 56px;}

    .header_logo{width: 75%;float: left;height: 100%;text-align: left;}
    .header_logo h2 {color: #FFF;}
    .header_logo h4 {color: #FFF;}

    .header_nav{position: fixed;top: 50px;width: 100%;height: auto;right: 0;background:rgba(0,0,0,0.3);display: none;z-index: 11;}
    .header_nav>ul>li{display: block;height:auto;line-height: 2.5;width: 50%;background:#f8f8fa;margin-left: 48%;}

    .have_second:before {display: none;}
    .have_second:hover:before {display: none;}
    .header_nav>ul>li>a{height: 100%;display: block;width: 100%;text-align: center;padding: 0;font-size: 15px;}

    .nav_second{position: unset!important;overflow: hidden;left: 0;top: 0;background: #f2f2f2;z-index: 9;width: 100%;display: block;visibility: unset;opacity: 1;}
    .nav_second i{display: none;}
    .nav_second li{height: 30px;line-height: 30px;font-size: 14px;width: 100%;}
    .nav_second li a{height: 100%;width:100%;display: block;padding:0;text-align: center;}

    /*手机页面搜索按钮*/
    .header_search{width: 50px;float: left;height: 100%;position: relative;}
    .header_search a{position: absolute;width: 100%;height: 100%;}
    .header_search i{width: 34px;height: 35px;display: block;margin: 12px 0 0 8px;background: url("../img/search_small.png");background-size: 100% 100%;}

    /*手机页面的导航按钮 三横变一×*/
    .header_nav_small_btn{display: block;width: 35px;float: right;height: 38px;margin-top: 12px;}
    .header_nav_small_btn .small_btn{width: 100%;height: 4px;background: #fff;display: block;margin-top: 15px;position: relative;}
    .header_nav_small_btn .small_btn:before, .header_nav_small_btn .small_btn:after {content: '';display: block;width: 100%;height: 4px;position: absolute;background: #fff;-webkit-transition-property: margin, -webkit-transform;transition-property: margin, -webkit-transform;transition-property: margin, transform;transition-property: margin, transform, -webkit-transform;-webkit-transition-duration: 300ms;transition-duration: 300ms;}
    .small_btn:before{margin-top: -12px;}
    .small_btn:after{margin-top: 12px;}
    .click_small_btn .small_btn{background: none;}
    .click_small_btn .small_btn:before, .click_small_btn .small_btn:after {content: '';display: block;width: 100%;height: 4px;position: absolute;background: #fff;}
    .click_small_btn .small_btn:before {margin-top: 0;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
    .click_small_btn .small_btn:after {margin-top: 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);}

    /*搜索框*/
    .search_box{width: 96%;margin: 20px auto 20px auto; display: none;}
    .search{width: 100%;margin: 0 auto;height: 41px;}
    .search_form{position: relative;}
    .search_text{width: 77%;height: 38px;position: absolute;left: 0;border-radius: 4px;text-indent: 1em;box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;-webkit-box-shadow: 0 1px 3px #ddd;}
    .search_btn{width: 20%;height: 38px;position: absolute;right: 0;background:#FFF;border-radius: 4px;color: #333;box-shadow: 0 1px 3px #ddd;border: 1px #fff solid;-webkit-box-shadow: 0 1px 3px #ddd;}
    .search_btn:hover{cursor: pointer;}

    .nav_hidden_zhanwei{display: block;height: 50px;}

    /*banner部分*/
    .banner_box {
        width: 96%;
        height: 222px;
        background: #f8f8fa;
        box-shadow: 0 1px 3px #ddd;
        border: 1px #fff solid;
        -webkit-box-shadow: 0 1px 3px #ddd;
        margin: 10px auto 10px auto;
    }
    /*身体部分*/
    .article_box{width: 96%;margin: 10px auto;}

    .article .article_list h3 {
        white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
    }
    .index_article_title h3 {
        width: 80%;
    }
    .index_article_title a {
        width: 15%;
    }
    .article_btn_box_item ul li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
   .me_box{width: 96%;margin: 20px auto;}
    .me_box_title {
        padding: 0 10px;
    }
    .me_box_title_title {
        padding: 10px 20px;
    }
    .me_box_text_div {
        padding: 10px 20px;
    }






    .right{display: none;}
    .left{width: 100%;margin: 0 auto;}
    .footer_box{width: 100%;margin-top: 20px;}
    .footer{width: 96%;margin: 0 auto;}
}

@media (max-width: 767px){
    .header_nav ul{padding-left: 0;}
    .header_logo {width: 80%;float: left;height: 100%;text-align: left;}
    .header_search{width: 40px;float: left;height: 100%;position: relative;}
    .header_search a{position: absolute;width: 100%;height: 100%;}
    .header_search_btn i{width: 30px;height: 30px;display: block;margin: 13px 0 0 5px;background: url("../img/search_small.png");background-size: 100% 100%;}
    .header_nav_small_btn{display: block;width: 28px;float: right;height: 36px;margin-top: 10px;}
    .small_btn:before{margin-top: -10px;}
    .small_btn:after{margin-top: 10px;}
    .banner_box {height: 158px;}
    .index_article .article_list {
        width: 100%;
        display: block;
        padding: 20px 0 20px 0;
    }
    .index_article .article_list .article_list_img {
        display: inline-block;
        font-size: 0;
        float: left;
        margin-left:0;
        width: 100%;
    }
    .index_article .article_list .article_list_img img {
        width: 100%;
        padding: 0 20px 10px 20px;
        vertical-align: middle;
    }
    .article_btn_nav{overflow-x: auto;padding: 0 0 16px 0;}
    .article_btn_nav>ul{width: 800px;
        overflow-x: scroll;}
    .article_btn_box {
        padding: 10px 20px 20px 20px;
    }
    .article_btn_box_item_img {
        width: 100%;margin-left: 0;margin-bottom: 10px;
    }
    .article_btn_box_item_img img{width: 100%;}
    .article_btn_box_item ul li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .footer_img {
        overflow: hidden;
        width: 100%;
        margin-right: 0;
        text-align: center;
        float: left;
    }
    .footer_img ul{
        display: inline-block;margin: 0 auto;
    }
    .footer_img ul li img {
        width: 170px;
        height: 170px;
    }
    .footer_text{float: left;padding: 20px 20px 0 20px;}
}
@media (max-width: 376px){
    .header_nav_small_btn {width: 24px;}
    .header_logo h2 {font-size: 22px;}
    .header_logo h4 {font-size: 16px;}
    .footer_img ul li img {
        width: 160px;
        height: 160px;
    }
}
@media (max-width: 362px){
    .footer_img ul li img {
        width: 150px;
        height: 150px;
    }
}